body{
background-color:lightgreen;
}
h2{
text-align:center;
font-size:30px;
font-color:orange;
text-align:center;
}
ul{
color:green;
font-size:20px;
;}
dl(
color:red;
font-size:25px;
}
ol{
color:indigo;
}
